
.student-chart__container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 2rem;
    min-height: calc(100vh - 75px - 63px);
}

.student-chart__box_profile {
    margin-top: 70px;
}

.student-chart__box_profile > a {
    all: unset;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #1F1C47;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.student-chart__box_main {
    background-color: white;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.student-chart__box_header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    background-color: #FFE4AF;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 0px 25px;
}

.student-chart__box_header > h1 {
    font-size: 20px;
    font-weight: bold;
    color: #092433;
}
.student-chart__header_buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}
.student-chart__header_buttons > button {
    all: unset;
    background-color: transparent;
    color: #092433;
    border: 2px solid #092433;
    border-radius: 48px;
    height: 41px;
    padding: 0px 24px;
    font-size: 12px;
    margin-left: 10px;
    font-weight: bold;
    cursor: pointer;
}

.student-chart__header_buttons > button.active {
    color: white;
    background-color: #092433;
}

.student-chart__box_main .trackbox__container .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0px 25px;
}

.student-chart__box_main .trackbox__container span {
    all: unset;
    font-size: 25px;
    font-weight: bold;
    color: #092433;
}

.student-chart__box_main .trackbox__container .header > div {
    display: flex;
    gap: 10px;
}

.student-chart__box_main .trackbox__container .header > div > div {
    height: 30px;
    border: 1px solid #092433;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0px 10px;
    cursor: pointer;
}

.student-chart__box_main .trackbox__container .header > div span {
    font-size: 12px;
    font-weight: normal;
}

.student-chart__box_main .trackbox__container .header > div span.faded {
    color: #9E9E9E;
}

.student-chart__box_main .trackbox__container .header .date {
    width: 102px;
    display: flex;
    justify-content: space-between;
}

.student-chart__box_main .trackbox__container .header .search_icon {
    border: none;
    background-color: #69B3DD;
    width: 30px;
    height: 30px;
    padding: 0px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.student-chart__box_main .trackbox__container .trackbox_chart {
    width: 35rem;
    padding: 90px 240px 0px 240px;
    position: relative;
    bottom: 40px;
    position: relative;
    bottom: 40px;
}

.student-chart__box_main .trackbox__container .trackbox_ideas {
height: 150px;
padding-left: 900px;
font-weight: 500;
font-size: 14px;
line-height: 5px;
}

.student-chart__box_main .trackbox__container .trackbox_ideas h2 {
    all: unset;
    font-size: 14px;
    color: white;
    background-color: #717C36;
    border-radius: 7px;
    padding: 5px 9px;
}

.student-chart__box_main .trackbox__container .trackbox_ideas > div:first-of-type h2 {
    background-color: #69B3DD;
}

.student-chart__box_main .trackbox__container .trackbox_ideas span {
    all: unset;
    font-size: 14px;
    margin-left: 15px;
}

.student-chart__box_main .download-button{
    
    border: none !important;
    background-color: var(--button);
    margin: 0 auto;
    color:white;
    width: 10rem;
    height: 2rem;
    border-radius: 5rem;
    margin: .9rem;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}